<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>忘記密碼</title>
</head>
<body>
	<h2>忘記密碼</h2>
	<form id="forgotPasswordForm">
		<label for="email">請輸入您的電子郵件信箱：</label><br> <input type="email"
			id="memberMail" name="email" required><br>
		<br>
		<button type="button" id="submitButton">提交</button>
	</form>

	<div id="responseMessage"></div>

	<script>
    document.getElementById("submitButton").addEventListener("click", function() {
        var email = document.getElementById("memberMail").value;
        var formData = new FormData();
        formData.append('email', email);

        fetch("/forgotPassword", {
            method: "POST",
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            var responseMessage = document.getElementById("responseMessage");
            if (data.code === 200) {
                responseMessage.textContent = data.message;
            } else {
                responseMessage.textContent = data.message;
            }
        })
        .catch(error => {
            console.error("Error:", error);
        });
    });
</script>


</body>
</html>