<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Management</title>
</head>
<body>
    <h1>Admin Management</h1>
    <div class="admin-buttons">
        <button onclick="window.location.href='birthdayback'">生日禮券管理</button>
        <button onclick="window.location.href='permissionsback'">用戶權限管理</button>
        <button onclick="window.location.href='/qaback'">常見問題管理</button>
        <button onclick="window.location.href='/productreportback'">評論檢舉管理</button>
    </div>
</body>
</html>
