<!DOCTYPE html>

<html lang="zh-hant" xmlns:th="http://www.thymeleaf.org">

<head th:replace="frontstage/index2 :: head">

    <!-- 檢舉Modal開始(點擊我要檢舉觸發彈窗) -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"
                        style="color: red; font-weight: bold; font-size: 30px;">
                        <center>請 輸 入 檢 舉 原 因</center>
                    </h5>
                </div>
                <div class="modal-body">
                    <!-- 表單 -->
                    <form id="productReportForm" method="post" action="/productreport/insert">
                        <div class="mb-3"><label for="reportReason" class="col-form-label">原因說明:</label>
                            <textarea class="form-control" id="reportReason" name="reportReason"></textarea></div>
                        <!-- 隱藏的输入字段用於储存訂單編號 -->
                        <input type="hidden" id="productNo" name="productNo" value="">
                    </form>
                </div>
                <div class="modal-footer">
                    <br>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            onclick="window.location.href='/product/shopdetail'">放棄檢舉
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            th:onclick="submitProductReport([[${productNo}]])">送出檢舉
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 檢舉的Modal結束 -->
</head>

<body id="body">
<div th:replace="frontstage/index2 :: header"></div>

<section class="single-product">
    <div class="container" style="width: 75%; padding: 0;">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb" style="padding: 0;">
                    <li><a th:href="@{/}">首頁</a></li>
                    <li><a th:href="@{/product/shopall}">周邊商品</a></li>
                    <li class=" product_name active"></li>
                </ol>
            </div>

        </div>
        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <div class='carousel-inner '>
                                <!--動態顯示圖片-->
                            </div>

                            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                <i class="tf-ion-ios-arrow-left"></i>
                            </a>
                            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                <i class="tf-ion-ios-arrow-right"></i>
                            </a>
                        </div>

                        <!-- thumb -->
                        <ol class='carousel-indicators mCustomScrollbar meartlab'>
                            <!--縮圖-->
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-details">
                    <h2 class="product_name"></h2>
                    <div class="product_rating"></div>
                    <p class="product_price"></p>

                    <div class="product-quantity">
                        <span>數量:</span>
                        <div class="product-quantity-slider">
                            <input id="product-quantity" type="text" value="1" name="product-quantity">
                        </div>
                    </div>
                    <div class="product-category">
                        <span>商品類別:</span>
                        <ul>
                            <li class="product_category"><a th:href="@{/product/shopall}"></a></li>
                        </ul>
                    </div>
                    <a href="#" id="add_to_cart" class="btn btn-main mt-20" style="margin-right: 5px; padding: 11px 12px; font-size: 14px">加入購物車</a>
                    <a id="addToFavorites" class="btn btn-main mt-20"
                       style="margin-right: 5px;" th:onclick="addToFavorites([[${productNo}]])"><i
                            class="tf-ion-ios-heart"></i> 加入收藏</a>
                    <button type="button" id="productReport" class="btn btn-primary btn-lg" data-toggle="modal"
                            data-target="#staticBackdrop"
                            style="margin-top: 20px; height: 45px; border-radius: 0; background-color: #000; font-size: 11px;">
                        <i class="tf-ion-alert"></i>&nbsp;&nbsp;我要檢舉
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon mt-20">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">商品描述</a></li>
                        <li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">商品評論 (3)</a></li>
                    </ul>
                    <div class="tab-content patternbg">
                        <div id="details" class="tab-pane fade active in">
                            <h4>商品描述</h4>
                            <p class="product_desc"></p>
                        </div>
                        <div id="reviews" class="tab-pane fade">
                            <div class="post-comments">
                                <ul class="media-list comments-list m-bot-50 clearlist">
                                    <!-- Comment Item start-->
                                    <li class="media">

                                        <a class="pull-left" href="#!">
<!--                                            <img class="media-object comment-avatar" src="images/blog/avater-1.jpg"-->
<!--                                                 alt="" width="50" height="50"/>-->
                                        </a>

                                        <div class="media-body">
                                            <div class="comment-info">
                                                <h4 class="comment-author">
                                                    <a href="#!">Jonathon Andrew</a>

                                                </h4>
                                                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
                                                magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Quod laborum minima, reprehenderit laboriosam officiis
                                                praesentium? Impedit minus provident assumenda quae.
                                            </p>
                                        </div>

                                    </li>
                                    <!-- End Comment Item -->

                                    <!-- Comment Item start-->
                                    <li class="media">

                                        <a class="pull-left" href="#!">
<!--                                            <img class="media-object comment-avatar" src="images/blog/avater-4.jpg"-->
<!--                                                 alt="" width="50" height="50"/>-->
                                        </a>

                                        <div class="media-body">

                                            <div class="comment-info">
                                                <div class="comment-author">
                                                    <a href="#!">Jonathon Andrew</a>
                                                </div>
                                                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
                                                magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Magni natus, nostrum iste non delectus atque ab a
                                                accusantium optio, dolor!
                                            </p>

                                        </div>

                                    </li>
                                    <!-- End Comment Item -->

                                    <!-- Comment Item start-->
                                    <li class="media">

                                        <a class="pull-left" href="#!">
<!--                                            <img class="media-object comment-avatar" src="images/blog/avater-1.jpg"-->
<!--                                                 alt="" width="50" height="50">-->
                                        </a>

                                        <div class="media-body">

                                            <div class="comment-info">
                                                <div class="comment-author">
                                                    <a href="#!">Jonathon Andrew</a>
                                                </div>
                                                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
                                                magna ut ante eleifend eleifend.
                                            </p>

                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="products related-products section">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>相關商品</h2>
            </div>
        </div>
        <div class="row">
<!--            <div class="col-md-3">-->
<!--                <div class="product-item">-->
<!--                    <div class="product-thumb">-->
<!--                        <span class="bage">Sale</span>-->
<!--                        <img class="img-responsive" src="images/shop/products/product-5.jpg" alt="product-img"/>-->
<!--                        <div class="preview-meta">-->
<!--                            <ul>-->
<!--                                <li>-->
<!--									<span data-toggle="modal" data-target="#product-modal">-->
<!--										<i class="tf-ion-ios-search"></i>-->
<!--									</span>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#"><i class="tf-ion-ios-heart"></i></a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#!"><i class="tf-ion-android-cart"></i></a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="product-content">-->
<!--                        <h4><a href="product-single.html">Reef Boardsport</a></h4>-->
<!--                        <p class="price">$200</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <div class="product-item">-->
<!--                    <div class="product-thumb">-->
<!--                        <img class="img-responsive" src="images/shop/products/product-1.jpg" alt="product-img"/>-->
<!--                        <div class="preview-meta">-->
<!--                            <ul>-->
<!--                                <li>-->
<!--									<span data-toggle="modal" data-target="#product-modal">-->
<!--										<i class="tf-ion-ios-search-strong"></i>-->
<!--									</span>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#"><i class="tf-ion-ios-heart"></i></a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#!"><i class="tf-ion-android-cart"></i></a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="product-content">-->
<!--                        <h4><a href="product-single.html">Rainbow Shoes</a></h4>-->
<!--                        <p class="price">$200</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <div class="product-item">-->
<!--                    <div class="product-thumb">-->
<!--                        <img class="img-responsive" src="images/shop/products/product-2.jpg" alt="product-img"/>-->
<!--                        <div class="preview-meta">-->
<!--                            <ul>-->
<!--                                <li>-->
<!--									<span data-toggle="modal" data-target="#product-modal">-->
<!--										<i class="tf-ion-ios-search"></i>-->
<!--									</span>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#"><i class="tf-ion-ios-heart"></i></a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#!"><i class="tf-ion-android-cart"></i></a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="product-content">-->
<!--                        <h4><a href="product-single.html">Strayhorn SP</a></h4>-->
<!--                        <p class="price">$230</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <div class="product-item">-->
<!--                    <div class="product-thumb">-->
<!--                        <img class="img-responsive" src="images/shop/products/product-3.jpg" alt="product-img"/>-->
<!--                        <div class="preview-meta">-->
<!--                            <ul>-->
<!--                                <li>-->
<!--									<span data-toggle="modal" data-target="#product-modal">-->
<!--										<i class="tf-ion-ios-search"></i>-->
<!--									</span>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#"><i class="tf-ion-ios-heart"></i></a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#!"><i class="tf-ion-android-cart"></i></a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="product-content">-->
<!--                        <h4><a href="product-single.html">Bradley Mid</a></h4>-->
<!--                        <p class="price">$200</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
</section>


<div th:replace="frontstage/index2 :: footer"></div>

</body>
<script th:src="@{/js/frontstage/product/guest.js}"></script>
<script th:src="@{/js/frontstage/product/shopdetail.js}"></script>


<script th:inline="javascript">
    /*<![CDATA[*/
    var productNo = /*[[${productNo}]]*/ 'default';
    /*]]>*/

    console.log(productNo, "erin");
    test(productNo);
    getProductImages(productNo).then(function (imageUrls) {
        console.log(imageUrls);
        let carouselIndicators = document.querySelector('.carousel-indicators');
        let carouselInner = document.querySelector('.carousel-inner');

        imageUrls.forEach((url, index) => {
            // carousel-indicator
            let indicator = document.createElement('li');
            indicator.setAttribute('data-target', '#carousel-custom');
            indicator.setAttribute('data-slide-to', index);
            if (index === 0) indicator.classList.add('active');
            let thumb_img = document.createElement('img');
            thumb_img.src = url;
            indicator.appendChild(thumb_img);
            carouselIndicators.appendChild(indicator);

            // carousel-inner
            let item = document.createElement('div');
            item.className = 'item' + (index === 0 ? ' active' : '');
            let img = document.createElement('img');
            img.src = url;
            img.setAttribute('data-zoom-image', url);
            item.appendChild(img);
            carouselInner.appendChild(item);
        });
    });
    getProductDetail(productNo)


</script>
<!--收藏Ajax開始-->
<script>
    function addToFavorites(productNo) {
        var formData = {
            productNo: productNo,
        };

        $.ajax({
            type: 'POST',
            url: '/saveproduct/insert',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: handleSuccess,
            error: handleError
        });
    }

    function handleSuccess(response) {
        console.log('Success response received:', response);

        alert(response);
        $('#addToFavoritesBtn').css('background color', 'orange'); //加入成功後，按鈕變為橘色(***待確認***)
    }

    function handleError(xhr, status, erro) {
        console.log('AJAX error response:', status, erro);

        var errorMessage = xhr.responseText;
        alert(errorMessage);
    }

</script>
<!--收藏Ajax結束-->

<!--檢舉Ajax開始-->
<script>
    function submitProductReport(productNo) {
        var reportReason = $("#reportReason").val().trim();

        // 檢查 reportReason 是否為空白
        if (reportReason === "") {
            Swal.fire('提交失敗', '檢舉原因不可為空白', 'error');
            return;
        }
        var formData = {
            productNo: productNo,
            reportReason: reportReason
        };

        $.ajax({
            type: 'POST',
            url: '/productreport/insert',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (response) {
                console.log('Success response received:', response);
                Swal.fire({
                    title: '提交成功',
                    text: "檢舉資料已成功送出。",
                    icon: 'success',
                    confirmButtonColor: '#3d5dff',
                    confirmButtonText: '確定',
                    allowOutsideClick: false,
                    allowEscapeKey: false
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
            },
            error: function (xhr, status, error) {
                console.log('AJAX error response:', status, error);
                Swal.fire('提交失敗', '請檢查輸入資料是否正確。', 'error');
            }
        });
    }
</script>
<!--檢舉Ajax結束-->

</html>