<!DOCTYPE html>
<html lang="zh-hant" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:include="backstage/index :: head">
    <link rel="stylesheet" th:href="@{/css/backstage/event/event.css}">


</head>

<body>
<div id="wrapper" class="">
    <nav th:fragment="navbar" class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-header">
                <div class="sidebar-brand">
                    <a th:href="@{/backstage}">Ezban</a>
                </div>
            </li>
            <li><a th:href="@{/backstage/events}">返回活動列表</a></li>
            <li th:if="${event!= null}"><a th:href="@{'/backstage/events/'+${eventNo}+'/overview'}">總覽</a></li>

            <li class="dropdown" th:if="${event!= null && event.eventStatus.name() == 'DRAFT'}">

                <a href="#events" class="dropdown-toggle" data-toggle="dropdown">活動編輯 <span class="caret"></span
                ></a>
                <ul class="dropdown-menu animated fadeInLeft" role="menu">
                    <li><a th:href="@{'/backstage/events/' + ${eventNo}}">活動基本資訊</a></li>
                    <li><a th:href="@{'/backstage/events/' + ${eventNo} +'/desc'}">活動詳細資訊</a></li>
                    <li><a th:href="@{'/backstage/events/' + ${eventNo} +'/ticketTypes'}">票券設定</a></li>
                    <li><a th:href="@{'/backstage/events/' + ${eventNo} +'/form'}">報名表設定</a></li>
                </ul>
            </li>
            <li th:if="${event!= null && event.eventStatus.name() != 'DRAFT'}"><a th:href="@{'/backstage/events/'+${eventNo}+'/orders'}">訂單管理</a></li>
            <li th:if="${event!= null && event.eventStatus.name() != 'DRAFT'}"><a th:href="@{'/backstage/events/'+${eventNo}+'/ticket-registrations'}">查看活動報名紀錄</a></li>
            <li><a th:href="@{/hostlogout}">登出</a></li>


        </ul>
    </nav>
    <div th:insert="backstage/index :: hamburger-btn"></div>

    <div class="page-content-wrapper">
        <!-- 頁面內容都放在 content 裡面 -->
        <div class="content">
            <!-- 這裡可以放置你想呈現的內容 -->
            <div class="container">
                <div class="highlight-box">
                    <!--                        <i class="fas fa-file-alt fa-3x" style="color: #0097A7;"></i>-->
                    <p class="mt-3" th:text="${message}"></p>
                    <p class="mt-3" th:if="${message == null}">請填寫以下活動資訊！</p>
                </div>

                <div class="form-section" th:if="${event == null}">
                    <h5 class="mb-3">活動資訊設定</h5>
                    <form th:method="post" th:action="@{'/backstage/event'}" enctype="multipart/form-data" onsubmit="return validateEventTimes();" novalidate>


                        <div class="image-upload-container mb-3" ondrop="dropHandler(event);"
                             ondragover="dragOverHandler(event);"
                             onclick="document.getElementById('eventImg').click();">
                            <label class="form-label">
                                <i class="fas fa-cloud-upload-alt fa-2x"></i>
                                <span>拖曳圖片至此或點擊框框 <span class="text-primary" style="cursor: pointer;"></span></span>
                            </label>
                            <input type="file" id="eventImg" name="eventImg" style="display: none;" multiple
                                   onchange="previewImage();" accept=".jpeg,.jpg">
                            <img id="imagePreview" class="image-preview" alt="Image Preview" style="display: none;">

                        </div>

                        <div class="mb-3">
                            <label for="eventName">活動名稱</label>
                            <input type="text" class="form-control" id="eventName" name="eventName" required/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label for="eventCategory">活動類別</label>
                            <select class="form-control" id="eventCategory" name="eventCategory">
                                <th:block th:each="category : ${categories}">
                                    <option th:value="${category.eventCategoryNo}"
                                            th:text="${category.eventCategoryName}"></option>
                                </th:block>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="mb-3">
                            <label for="eventAddTime">活動上架時間</label>
                            <input type="datetime-local" class="form-control" id="eventAddTime" name="eventAddTime" required/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label for="eventRemoveTime">活動下架時間</label>
                            <input type="datetime-local" class="form-control" id="eventRemoveTime" name="eventRemoveTime" required/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label for="eventStartTime">活動開始時間</label>
                            <input type="datetime-local" class="form-control" id="eventStartTime" name="eventStartTime" required/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label for="eventEndTime">活動結束時間</label>
                            <input type="datetime-local" class="form-control" id="eventEndTime" name="eventEndTime" required/>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="mb-3">
                            <label for="eventCity" class="form-label">活動所在城市</label>
                            <input type="text" class="form-control" id="eventCity" name="eventCity"
                                   placeholder="輸入活動所在城市" required/>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="mb-3">
                            <label for="eventDetailedAddress">活動地址</label>
                            <input type="text" id="eventDetailedAddress" name="eventDetailedAddress"
                                   class="form-control" placeholder="輸入活動地址" required/>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="map-container mb-3" id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3620.033297881887!2d120.9820178150023!3d24.79424598408304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468353620138e6f%3A0x7d3fb9d0a1e150cf!2sNational%20Chiao%20Tung%20University!5e0!3m2!1sen!2stw!4v1615296342245!5m2!1sen!2stw"
                                    width="100%" height="100%" style="border:0;" allowfullscreen=""
                                    loading="lazy"></iframe>
                        </div>

                        <button type="submit" class="btn btn-primary">儲存</button>
                    </form>
                </div>

                <div class="form-section" th:if="${event!= null}">
                    <h5 class="mb-3">活動資訊設定</h5>
                    <form th:method="put" th:action="@{'/backstage/events/'+${event.eventNo}}"
                          enctype="multipart/form-data" onsubmit="return validateEventTimes();" novalidate>
                        <input type="hidden" id="eventNo" name="eventNo" th:value="${event.eventNo}">

                        <div class="image-upload-container mb-3" ondrop="dropHandler(event);"
                             ondragover="dragOverHandler(event);"
                             onclick="document.getElementById('eventImg').click();">
                            <label class="form-label">
                                <i class="fas fa-cloud-upload-alt fa-2x"></i>
                                <span>拖曳圖片至此或點擊框框 <span class="text-primary" style="cursor: pointer;"></span></span>
                            </label>
                            <input type="file" id="eventImg" name="eventImg" style="display: none;" multiple
                                   onchange="previewImage();" accept=".jpeg,.jpg">
                            <img id="imagePreview" class="image-preview"
                                 th:src="'data:image/jpeg;base64, '+${event.getEventImgBase64()}" alt="Image Preview"
                                 th:if="${event.getEventImgBase64() != null}" style="display: block;">
                            <img id="imagePreview" class="image-preview"
                                 th:src="'data:image/jpeg;base64, '+${event.getEventImgBase64()}" alt="Image Preview"
                                 th:unless="${event.getEventImgBase64() != null}" style="display: none;">

                        </div>

                        <div class="mb-3">
                            <label for="eventName">活動名稱</label>
                            <input type="text" class="form-control" id="eventName" name="eventName"
                                   th:value="${event.eventName}" required/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label for="eventCategory">活動類別</label>
                            <select class="form-control" id="eventCategory" name="eventCategory">
                                <th:block th:each="category : ${categories}">
                                    <option th:value="${category.eventCategoryNo}"
                                            th:text="${category.eventCategoryName}"
                                            th:selected="${category.eventCategoryNo == event.eventCategory.eventCategoryNo}"></option>
                                </th:block>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="mb-3">
                            <label for="eventAddTime">活動上架時間</label>
                            <input type="datetime-local" class="form-control" id="eventAddTime" name="eventAddTime" th:value="${event.eventAddTime}" required/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label for="eventRemoveTime">活動下架時間</label>
                            <input type="datetime-local" class="form-control" id="eventRemoveTime" name="eventRemoveTime" th:value="${event.eventRemoveTime}" required/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label for="eventStartTime">活動開始時間</label>
                            <input type="datetime-local" class="form-control" id="eventStartTime" name="eventStartTime" th:value="${event.eventStartTime}" required/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="mb-3">
                            <label for="eventEndTime">活動結束時間</label>
                            <input type="datetime-local" class="form-control" id="eventEndTime" name="eventEndTime" th:value="${event.eventEndTime}" required/>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="mb-3">
                            <label for="eventCity" class="form-label">活動所在城市</label>
                            <input type="text" class="form-control" id="eventCity" name="eventCity"
                                   placeholder="輸入活動所在城市" th:value="${event.eventCity}" required/>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="mb-3">
                            <label for="eventDetailedAddress">活動地址</label>
                            <input type="text" id="eventDetailedAddress" name="eventDetailedAddress"
                                   class="form-control" placeholder="輸入活動地址"
                                   th:value="${event.eventDetailedAddress}" required/>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="map-container mb-3" id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3620.033297881887!2d120.9820178150023!3d24.79424598408304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468353620138e6f%3A0x7d3fb9d0a1e150cf!2sNational%20Chiao%20Tung%20University!5e0!3m2!1sen!2stw!4v1615296342245!5m2!1sen!2stw"
                                    width="100%" height="100%" style="border:0;" allowfullscreen=""
                                    loading="lazy"></iframe>
                        </div>

                        <button type="submit" class="btn btn-primary">儲存</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

<script th:src="@{/js/backstage/event/event.js}"></script>

<!-- 加入 Google Maps JavaScript API -->
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgLw2syYNfHKYnNdtBWsNAtjbxnryZuDM&callback=initMap"></script>
</body>

</html>