/* 自訂 SweetAlert2 樣式 */
.swal2-popup.animate__animated {
    animation-duration: 0.5s !important;
}
.swal2_success {
    background-color: #f9fff9;
}
.swal2_error {
    background-color: #fae2e2;
}
.swal2-title-custom {
    color: gray;
    font-size: 12px;
    font-weight: 400;
}
/* 取消SweetAlert2 icon動畫 */
.swal2-icon.swal2-success .swal2-success-circular-line-left,
.swal2-icon.swal2-success .swal2-success-circular-line-right,
.swal2-icon.swal2-success .swal2-success-fix,
.swal2-icon.swal2-success .swal2-success-line-tip,
.swal2-icon.swal2-success .swal2-success-line-long {
    animation: none !important;
}

.stars .fa-star, .stars .fa-star-half-alt {
    color: #f49292;
}
.product-category ul {
    padding: 0;
}
 #addToFavorites:hover {
     cursor: pointer;
     text-align: center;
 }

.single-product-details {
    margin-left: 20px;
}
.favorite_container {
    display: flex;
    width: 350px;
    justify-content: center;
    margin-top: 10px;
}
.rating_title {
    margin-right: 10px;
    font-weight: 700;
}
div.stars {
    display: inline-block;
}
.sales_info {
    margin-top: 30px;
    background-color: #ffffff;
    border-left: 5px solid #f6b8a6;
    padding: 5px 10px;
    width: 350px;
}
.product_price {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 16px;
    color: black;
 }
div.stars {
    font-size: 16px;
}
.buttons {
    margin-top: 20px;
}
.post-comments{
    margin: auto 0;
}
#comments_list li{
    border-bottom: 1px solid #d7d7d7;
}
#comments_list li:last-child {
    border-bottom: none;
}
.comment-author {
    margin-bottom: 0;
}
.comment-author .member_name {
    font-size: 14px;
    font-weight: 700;
}
.comment-info .stars {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 11px;
}
#related_products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}